extends layout

block content
	.container
		h1= title
		h3 Welcome to the new #{title}
		.row
			.col-md-6
				a(href="/lplist") Browse lesson plans
			.col-md-6
				a(href="/newlp") Add a new lesson plan