extends layout

block content
	h1.
		Available Lesson Plans
	table.table.table-striped
		each lp, i in lplist
			tr
				td  #{lp.title}
				td  #{lp.description}
				td  #{lp.author}
	ul
			li
				a(href="/") Home
			li
				a(href="/newlp") Add another